.home{
    display: flex;
    video{
       height: 100vh;
       width: 100%;
       object-fit: cover;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
    }
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        letter-spacing: 10px;
        color: #fff;
    }
    
        h2{
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translateX(-80%);
            color: #fff;
            text-transform: uppercase;
            animation: slideToLeft 3s ease-out;
            
            padding: 5px;
        }
        h3{
            position: absolute;
            left: 50%;
            top: 50%;
            color: #fff;
            text-transform: uppercase;
            animation: slideToRight 3s ease-out;
            
        }
}


@keyframes slideToLeft {
    from{
        transform: translateZ(-10px);
        opacity: 0;
    }
  
}
@keyframes slideToRight {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
}


